<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="style/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Rocket OAuth2 Example
        </h1>
        <p class="subtitle">
            Login via Github
        </p>

        {{#if logged_in}}
            Du bist eingeloggt als {{username}}!
            <a href="/logout">
                <button class="button is-danger">Logout</button>
            </a>
        {{else}}
            Press
            <a href="/login/github">
                <button class="button is-primary">Login</button>
            </a>
        {{/if}}

    </div>
</section>
</body>
</html>